<!-- vim: set filetype=markdown : -->

# プロジェクト概要

本プロジェクトはエンジニアが個人開発の練習として作成したシンプルなTODO管理をするためのWebアプリケーションです。

## アーキテクチャ

- 言語: TypeScript
- 仮想DOMライブラリ: React
- Reactフレームワーク: Next.JS
- UIフレームワーク: shadcn/ui
- データフェッチライブラリ: SWR
- 自動生成ツール: Orval
- Linter&Formatter: Biome
- パッケージ管理: pnpm

# セキュリティ

## 機密情報ファイル

以下に該当するファイルの読み込みと書き込みを禁止します。

- `.env`, `.envrc`ファイル
- APIキーのトークンや認証情報を含むファイル

## セキュリティルール

- 機密情報ファイルをコミットしない
- 秘密情報には環境変数を使う
- 認証情報をログ出力しない
